[Unit]
Description=Connects PureData with data feed and Arduino - SensorAIRium
PartOf=pd-patch.service
[Service]
User=pi
ExecStart=/usr/bin/python /home/pi/SensorAIRium/adapter.py
TimeoutSec=60

[Install]
WantedBy=pd-patch.service
